#main-app {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

#main-app > * {
  height: 100vh;
}

#main-app > .sidebar-container,
.note-index-container {
  position: relative;
  float: left;
}

#main-app {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 100;
}

.betternote-btn {
    height: 50px;
    border-radius: 5px;
    margin: 0 auto;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    color: white !important;
    background: #00c659;
    padding: 0 20px;
    &:hover {
      text-decoration: none;
      background: #0d9f40;
    }
}

@media only screen and (max-width: 960px) {
  .disp-block-resp-max-960 {
    display: block !important;
  }
}