.footer-container {
    > * {
        border-top: 1px solid #eee;
        padding: 30px 0;
    }

    .footer-wrap {

        &.social, &.legal {
            height: 84px;
        }

        &.nav {
            .link-section-wrap {
                display: flex;

                .link-section {
                    width: 20%;
                    padding-right: 40px;
                    font-size: 15px;

                    .link-section-header {
                        font-weight: 600;
                    }

                    li {
                        margin-top: 15px;
                        white-space: nowrap;
                        padding-right: 40px;
                        font-weight:300;

                        a:hover {
                            text-decoration: none;
                            color: #2dbe60;
                        }
                    }
                }
            }
        }

        &.social {
            .social-links {
                float:right;
                display: flex;
                flex-direction: row;

                li {
                    margin-left: 48px;

                    a {
                        color: black;
                        font-size: 21px;
                        
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        &.legal {
            font-size: 14px;
        }
    }
}