.home-inner-width {
  max-width: 1150px;
  margin: 0 auto;
}

.homepage-container {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #000;
}

button:focus,
input:focus {
  outline: 0;
}
