.inner-margin {
  padding-left: 140px;
  padding-right: 140px;
}

.homepage-container {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #000;
}
