.home-inner-width {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 39px;
}

.homepage-container {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #000;
}

.homepage-container > *{
  min-width: 900px;
}

button:focus,
input:focus {
  outline: 0;
}
