.nb-index {
  letter-spacing: 0.5px;
  .nb-item-container-wrapper {
    .nb-header {
      max-width: 295px;
      overflow: hidden !important;
      text-overflow: ellipsis;
    }
    &:hover {
      cursor: pointer;
      background: #2dbe60;
      * {
        color: white !important;
        border: none !important;
      }
    }
    .nb-item-container {
      width: 430px;
      margin: 0 auto;
      border-bottom: 1px solid #ececec;
      > .nb-item {
        width: 410px;
        margin: 0 auto;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        .nb-header {
          font-size: 14px;
          font-family: "Roboto Slab", serif;
          height: 28px;
          color: #545454;
        }
        .nb-count {
          font-size: 10px;
          color: #909090;
        }

        .nb-delete {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
