.note-index-container {
  display: flex;
  flex-direction: column;
  width: 350px;
  border-right: 1px solid #ececec;
}

.note-index-header-container {
  cursor: default;
  padding: 24px 20px 0 24px;
  height: 100px;
}

.note-index-header-container > .note-index-header-title-container {
  height: 48px;
}

.note-index-header-container h1 {
  font-size: 21px;
  color: #878787;
  font-weight: 100;
  letter-spacing: 2.5px;
}

.note-index-items-container {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  height: calc(100vh);
}

.note-index-item-container {
  .note-item-title {
    font-family: "Roboto Slab", serif;
    font-size: 15px;
    color: #4b4b4b;
  }
  .note-item.note-item-body-section,
  .note-item-lastupdated-section {
    color: #8f8f8f;
  }

  .note-item-delete {
    color: white;
  }

  &:hover {
    * {
      color: white !important;
    }
    .note-item-delete {
      display: block !important;
    }
  }
}

.note-index-item-container {
  color: black;
}

.notes-count {
  padding-bottom: 10px;
  font-size: 15px;
  letter-spacing: 0.5px;
  color: #ababab;
  font-weight: 100;
}

.note-index-header-container {
  background-color: white;
  border-bottom: 1px solid #ececec;
}

.note-index-item-container {
  padding: 10px 20px 0 24px;
  border: 2.5px solid white;
}

.note-index-item {
  height: 120px;
  overflow-y: hidden;
  border-bottom: 1px solid #ececec;
}

.note-index-item-container:hover .note-index-item {
  border: none;
}
.note-item-title-section {
  display: flex;
  justify-content: space-between;
  .note-item-title {
    white-space: nowrap;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .note-item-delete {
    font-size: 20px;
    width: 24px;
    height: 24px;
  }
}

.note-item-lastupdated-section {
  font-size: 12px;
  letter-spacing: 1.5px;
}

.note-item-body-section {
  max-height: 40px;
  overflow: hidden;
  margin-top: 3px;
  color: #8c8c8c;
  font-family: "Roboto Slab", serif;
  font-size: 12px !important;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 13px !important;
  }
}

.active.show-link > .note-index-item-container {
  border: 2.5px solid #d9d9d9;
}
.note-index-item-container:hover {
  cursor: pointer;
  background: rgba(43, 181, 92, 0.9);
  border: 2.5px solid rgba(43, 181, 92, 0.9) !important;
  color: white;
}

.show-link:hover {
  text-decoration: none;
}
