.note-container {
  width: 100%;
  padding: 10px 15px;

  .note-opts-assocs-wrapper {
    position: relative;
    z-index: 300;
  }

  .note-opts-container {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .note-opts-wrap {
      display: flex;
      flex-direction: row;
      color: #ababab;

      > * {
        margin-right: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;

        &:hover {
          cursor: pointer;
          color: #2dbe60 !important;
        }
      }

      .note-info-wrap {
        border-radius: 50%;
        border: 2px solid #ababab;
        font-family: "Times New Roman", Times, serif;
        font-size: 14px;

        &:hover {
          border: 2px solid #2dbe60 !important;
        }
      }

      .note-delete-wrap {
        font-size: 19px;
      }
    }

    .note-expand-collapse-btn-container {
      button {
        height: 31px;
        border-radius: 3px;
        display: flex;

        text-align: center;
        vertical-align: middle;
        letter-spacing: 1px;

        &:hover {
          cursor: pointer;
        }
      }
      .note-expand-btn {
        font-size: 20px;
        font-weight: 100;
        width: 31px;
        border: 1px solid #2dbe60 !important;
        color: #2dbe60 !important;
        background: white;
        &:hover {
          background: #2dbe60 !important;
          color: white !important;
        }
      }

      .note-edit-done-btn,
      .note-new-cancel-btn {
        font-size: 15px;
        font-weight: 400;
        color: white;
        background: #2dbe60;
        border: 1px solid #2dbe60;

        &:hover {
          background: #28a955;
          border: 1px solid #28a955;
        }
      }
    }
  }

  .note-assocs-container {
    display: flex;
    flex-direction: row;
    height: 23px;
    position: relative;
    top: 12px;

    > * {
      align-items: center;
    }

    .curr-notebook {
      display: flex;
      flex-direction: row;
      background: white;
      border: 0px solid white;
      margin-right: 15px;

      &:hover {
        cursor: pointer;
      }

      > * {
        padding-right: 10px;
        color: #606060;
      }

      .fa {
        font-size: 15px;
      }

      .fa-book {
        color: #c4c4c4;
      }

      .notebook-title {
        font-size: 12px;
        font-weight: 590;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 180px;
        vertical-align: text-top;
      }
    }

    .notebook-list-wrap {
      position: absolute;
      top: 25px;
      width: 360px;
      max-width: 420px;
      color: #515151;
      font-weight: 200;
      border-top: 1px solid #ececec;

      overflow-y: auto;
      z-index: 100000;
      background: white;
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.04),
        -6px 8px 15px rgba(0, 0, 0, 0.04), 6px 8px 15px rgba(0, 0, 0, 0.04);
      border: 3px solid rgba(217, 217, 217, 0.4);

      .notebook-list {
        display: flex;
        flex-direction: column;

        .notebook-title-container + .active {
          color: #2dbe60 !important;
        }

        .notebook-title-container {
          height: 50px;
          padding: 0px 16px;
          display: flex;

          &:hover {
            background: #2dbe60;
            color: white !important;
            cursor: pointer;
          }

          .notebook-title-wrapper {
            border-top: 1px solid #ececec;
            width: 100%;
            display: flex;
            padding: 0 10px;
            align-items: center;

            .notebook-title {
              overflow-x: hidden;
              text-overflow: ellipsis;
            }
          }
        }

        .create-new-notebook {
          color: #878787;
          font-weight: 600;
          &:hover {
            color: #2dbe60 !important;
            background: white !important;
          }
        }
      }
    }
  }

  .note-content-container {
    display: flex;
    justify-content: center;
    .note-content {
      width: 960px;
      min-width: 240px;
      max-width: 960px;
      .note-title {
        background: white;
        width: 100%;
        position: relative;
        top: 95px;
        margin: 0px 15px;
        border: 0px solid white;
        color: #2dbe60;

        &::placeholder {
          color: #2dbe60;
        }
      }
      .quill {
        min-width: 240px;
        max-width: 960px;

        .ql-toolbar {
          border: 0px solid white;
          border-bottom: 2px solid #ececec;
          min-height: 45px;

          span.ql-formats:not(:first-child) {
            border-left: 1px solid #ececec;
          }

          span.ql-formats {
            > * {
              height: 21px !important;
            }
            > button {
              width: 21px !important;
            }
          }

          * {
            vertical-align: top;
          }

          button {
            &:hover {
            }
          }
        }

        .ql-container {
          border: 0px solid white;
          position: relative;
          top: 55px;

          .ql-editor {
            overflow-y: auto;
            max-height: 75vh;
          }
        }
      }
    }
  }
}
