.note-form-tags-container {
  display: flex;
  flex-direction: row;
  height: 23px;
  max-height: 23px;
  color: #c4c4c4;

  .fa-tag {
    font-size: 15px;
    margin-right: 10px;
    &:hover {
      cursor: pointer;
    }
  }

  .note-form-tag-container,
  .add-note-tag {
    margin-right: 7px;
    border: 1px solid #ececec;
    background: #f8f8f8;
    border-radius: 2.5px;
    height: 23px;
    padding: 0px 6px;
  }

  .note-form-tags {
    display: flex;
    flex-direction: row;
    font-size: 13px;
    color: #606060;

    .note-form-tag-container,
    .add-tag-note {
      display: flex;
      justify-content: center;

      &:hover {
        cursor: default;
      }
    }
  }

  .add-note-tag {
    width: auto;
  }
}
