.note-index-container {
  display: flex;
  flex-direction: column;
  width: 350px;
  border-right: 0.5px solid #ececec;
}

.note-index-header-container {
  padding: 24px 20px 0 24px;
}

.note-index-header-container h1 {
  font-size: 21px;
  color: #878787;
  font-weight: 100;
  letter-spacing: 2px;
}

.note-index-items-container {
  overflow: -moz-scrollbars-vertical;
  overflow-y: auto;
}

.note-index-item-container {
  .note-item-title {
    color: #4b4b4b;
  }
  .note-item.note-item-body-section,
  .note-item-lastupdated-section {
    color: #8f8f8f;
  }
  &:hover {
    * {
      color: white !important;
    }
    .note-item-delete {
      display: block !important;
    }
  }
}

.note-index-item-container {
  color: black;
}

.notes-count {
  padding-bottom: 10px;
  font-size: 15px;
  letter-spacing: 0.5px;
  color: #ababab;
  font-weight: 100;
}

.note-index-header-container {
  background-color: white;
  border-bottom: 3px solid #ececec;
}

.note-index-item-container {
  padding: 10px 20px 0 24px;
  border: 2.5px solid white;
}

.note-index-item {
  height: 120px;
  overflow-y: hidden;
  border-bottom: 0.5px solid #ececec;
}

.note-index-item-container:hover .note-index-item {
  border: none;
}
.note-item-title-section {
  display: flex;
  justify-content: space-between;
  .note-item-title {
    white-space: nowrap;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .note-item-delete {
    font-size: 20px;

    &:hover {
      cursor: pointer;
    }
  }
}

.note-item-lastupdated-section {
  font-size: 12px;
}

.note-item-body-section {
  overflow: hidden;
  font-size: 11px;
  margin-top: 3px;
}

.active.show-link > .note-index-item-container {
  border: 2.5px solid #d9d9d9;
}
.note-index-item-container:hover {
  cursor: pointer;
  background: #2dbe60;
  border: 2.5px solid #2dbe60 !important;
  color: white;
}

.show-link:hover {
  text-decoration: none;
}
