.note-show-container {
  overflow-y: scroll;
}
.note-opts-container {
  background: yellow;
}
.style-bar-container {
  background: red;
}
.note-title {
  background: green;
  color: #2dbe60;
}
.note-body {
  background: grey;
}

.style-bar-container,
.note-container {
  max-width: 925px;
  min-width: 240px;
  margin: 0px auto;
}
