.notebook-update-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  .notebook-update-wrapper,
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .overview-container,
  .share-settings-container {
    width: 550px;
  }
  .nb-update-btn-container {
    display: flex;
    justify-content: center;
  }

  .overview {
    font-size: 15px;
    color: #4a4a4a;
  }

  .desc-title,
  .share-status-title {
    color: #878787;
    font-size: 13px;
    font-weight: 100;
  }

  .notebook-update-wrapper {
    width: 550px;
    height: 550px;
  }
  .overview-container {
    height: 190px;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 30px;

    .edit-form-wrapper {
      height: 62px;
      .edit-form {
        color: #515151;
        padding: 10px 13px;
        height: 41px;
        width: 540px;
        border-radius: 5px;
        border: 1px solid #e1e1e1;
      }
    }

    .nb-desc {
      .desc-title,
      .desc-content {
        height: 30px;
      }

      .desc-content {
        color: #5c5c5c;
      }
    }
    .delete-link-container {
      height: 50px;
      font-size: 15px;
      .deleteLink {
        color: #2dbe60;
        cursor: pointer;
        &:hover {
          color: #28a955;
        }
      }
    }
  }

  .share-settings-container {
    height: 155px;

    .share-settings-title {
      height: 35px;
      color: #4a4a4a;
    }

    .share-setting-status {
      display: flex;
      flex-direction: row;
      font-size: 15px;
      color: #4a4a4a;
      font-size: 13px;
      > * {
        margin-right: 10px;
      }
    }
  }
}

.note-detail-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .note-detail-wrapper {
    min-height: 640px;
    max-height: 640px;

    .note-title {
      height: 70px;
      text-align: center;
      font-family: "Roboto Slab", serif;
      font-size: 25px;
      position: relative;
      top: -30px;
    }

    .note-content-container {
      .overview-container {
        height: 265px;
        .overview {
          height: 32px;
        }
        .created-at,
        .updated-at {
          display: flex;
          flex-direction: row;
        }

        .author-username {
          border: 1px solid #e1e1e1;
          height: 40px;
          border-radius: 5px;
          display: flex;
          width: 475px;

          > * {
            height: 24px;
            margin: 8px 0px 8px 8px;
            font-size: 12px;
            vertical-align: middle;
            line-height: 24px;
          }

          .author-key {
            color: #a6a6a6;
            letter-spacing: 1.5px;
            font-weight: 100;
            border: 1px solid #e1e1e1;
            border-radius: 5px;
            padding: 0px 5px 0px 5px;
          }

          .author-val {
          }
        }
      }

      .share-settings-container {
        height: 125px;

        .share-settings-title {
          height: 32px;
        }
        .share-setting-status {
          display: flex;
          flex-direction: row;
        }
      }
    }
    .note-detail-btn-container {
      display: flex;
      justify-content: center;
    }

    .created-at-key,
    .updated-at-key,
    .share-status-title {
      color: #8e8e8e;
      margin-right: 8px;
      height: 32px;
      font-size: 15px;
      line-height: 24px;
    }
  }
}

.header-container-wrapper {
  height: 145px;
  display: flex;
  justify-content: center;

  .note-title {
    position: relative;
    top: -30px;
  }

  .header-container {
    width: 100px;
    height: 100px;
    border-bottom: 1px solid #d9d9d9;
    color: #898989;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .info-icon-wrap {
      height: 56px;
      .info-icon {
        font-family: "Times New Roman", Times, serif;
        font-size: 21px;
        height: 31px;
        width: 31px;
        border-radius: 50%;
        border: 2px solid #ababab;
        text-align: center;
      }
    }
    .info-title {
      white-space: nowrap;
      height: 34px;
    }
  }
}
.nb-update-btn-container,
.note-detail-btn-container {
  button {
    height: 32px;
    width: 192px;
    margin: 3.5px;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
    }
  }

  .nb-update-cancel-btn,
  .note-detail-cancel-btn {
    background: #ececec;
    color: #858585;
    border: 1px solid #d9d9d9;

    &:hover {
      background-color: #d9d9d9;
      border: 1px solid #d1d1d1;
    }
  }

  .nb-save-btn,
  .note-save-btn {
    background-color: #2dbe60;
    border: 1px solid #2dbe60;

    color: white;
    &:hover {
      background-color: #28a955;
      border: 1px solid #28a955;
    }
  }
}
