.note-form-tags-container {
  display: flex;
  flex-direction: row;
  height: 23px;
  max-height: 23px;
  color: #c4c4c4;

  .bn-tag-small {
    margin-right: 10px;
  }

  .note-form-tag-container,
  .add-note-tag {
    margin-right: 7px;
    border: 1px solid #ececec;
    background: #f8f8f8;
    border-radius: 2.5px;
    height: 23px;
    padding: 0px 6px;
  }

  .note-form-tags,
  .add-note-tag {
    font-size: 13px;
    color: #606060;
  }

  .note-form-tags::-webkit-scrollbar {
    display: none;
  }

  .note-form-tags {
    display: flex;
    flex-direction: row;
    max-width: 600px;
    overflow-x: auto;
    overflow-y: hidden;

    .note-form-tag-container {
      display: flex;
      justify-content: center;

      &:hover {
        cursor: default;
        background: #2dbe60;
        color: white;
      }

      .note-form-tag {
        margin-right: 5px;
      }

      .note-form-tag-delete {
        cursor: pointer;
        font-size: 11px;
      }
    }
  }

  .add-note-tag {
    width: 45px;
  }
}
