#null-note-form {
  width: 100%;
  height: 100vh;
  background: #f8f8f8;
}

.note-container {
  width: 100%;
  height: 100vh;
  padding: 10px 15px;

  .note-opts-assocs-wrapper {
    position: relative;
    z-index: 300;
  }

  .note-opts-container {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .note-opts-wrap {
      display: flex;
      flex-direction: row;
      color: #ababab;

      .bn-trash {
        width: 25px;
        height: 25px;
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABZElEQVR42mNgGAWUgtWrV3sC8TMg/o+EQXxPalmAbjjcEmpZADaQkBhRYM2aNUdwuJZYfJSQa49SaMExYn0yHaohnYCD0qHqZpAaVB1QjWUrVqywANLncVhQBlXXSZIFK1eurIJqbAZaoAmk72JTt3bt2laQulWrVlWTakE21IJJy5cvlwLSr0HiQIP40Xw6BWpBDqkWxIA0Ag1YsGjRIm4g++f8+fM5gPQPNAsWQy2IJdUCX6gF66Fh/Rtqwc9t27axI8XBZqgFfqRaYAe1YB/UoDfr1q0TA9KvgIaJIllwCKQOpJ4kC4ARqw+14CzUoLtAg1WA/DsgGsmCiyB1IPUkWQCMWAVoJN+GGnQOaIgRyEIQjWTBA5A6kHqSLFi/fr0A1IJXUIP2A4PBERRkIBrJgg8gdSD1JFnw//9/RqgFP4gpCEHqySlFHxJZ/jwkq5gGRqY3UPNzfIYDg+wR1SqekQsAXvLYIoII+uAAAAAASUVORK5CYII=") -0px -0px
          no-repeat;
        &:hover {
          background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABhklEQVR42mNgGAWUAt29cZ66+xKeAfF/JPwMJE4dCzANh1tCLQvABhISIwro7Us4gsO1xOKjhFx7lCIL9iceI84n+xOmgzXsSUzH6yCgPMTghBmkhfv+hA6Iq+LLgJZZAIPuPHYfx5dB1CV2kmSBzr6EKojL4pt1dsdqAtl3ccRZK0id3t74atJ8sCc+Gxqukwx3JUnp7It/DRI33p3Gj+bTKWB1e+NySPPBnrgYqAUL9HbGcgPpnwr7EziA9A9UC+IXg9Tp7E2IJS257k3whUbeemhY/4Za8FNlWy47IjHEbwYH0b54PxKLh3g7sMb9ifugyfcN0CdiQPqV4aFEUaQgOgQJong7kizQ3pekDw2is1AL7mrvj1EB0ndANFK+uQhSB1JPkgUG+xMUoMn0NsSlief09iYagSwE0Uip6AFIHUg9qRYIQH3wCurS/dp74hxBQQaikXzwAWqBAGmF0n8GRqgFP4gqCIHqySlFHxJZBj0kq5gGZi5voObnBAx/RLWKZ+QCABCmXGu43X5ZAAAAAElFTkSuQmCC") -0px -0px
            no-repeat;
        }
      }

      > * {
        margin-right: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;

        &:hover {
          cursor: pointer;
          color: #2dbe60 !important;
        }
      }

      .note-info-wrap {
        border-radius: 50%;
        border: 2px solid #ababab;
        font-family: "Times New Roman", Times, serif;
        font-size: 14px;

        &:hover {
          border: 2px solid #2dbe60 !important;
        }
      }

      .note-delete-wrap {
        font-size: 19px;
      }
    }

    .note-expand-collapse-btn-container {
      button {
        height: 31px;
        border-radius: 3px;
        display: flex;

        text-align: center;
        vertical-align: middle;
        letter-spacing: 1px;

        &:hover {
          cursor: pointer;
        }
      }
      .note-expand-btn {
        font-size: 20px;
        font-weight: 100;
        min-width: 31px;
        min-height: 31px;
        max-width: 31px;
        max-height: 31px;
        border: 1px solid #2dbe60 !important;
        color: #2dbe60 !important;
        background: white;
        &:hover {
          background: #2dbe60 !important;
          color: white !important;
        }
      }

      .note-edit-done-btn,
      .note-new-cancel-btn {
        font-size: 15px;
        font-weight: 400;
        color: white;
        background: #2dbe60;
        border: 1px solid #2dbe60;

        &:hover {
          background: #28a955;
          border: 1px solid #28a955;
        }
      }
    }
  }

  .note-assocs-container {
    display: flex;
    flex-direction: row;
    height: 23px;
    position: relative;
    top: 12px;

    > * {
      align-items: center;
    }

    .curr-notebook {
      display: flex;
      flex-direction: row;
      background: white;
      border: 0px solid white;
      margin-right: 15px;

      &:hover {
        cursor: pointer;
      }

      > * {
        padding-right: 10px;
        color: #606060;
      }

      .fa {
        font-size: 15px;
      }

      .fa-book {
        color: #c4c4c4;
      }

      .notebook-title,
      .curr-notebook-title {
        font-size: 12px;
        font-weight: 590;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 180px;
        vertical-align: text-top;
      }
    }

    .notebook-list-wrap {
      position: absolute;
      top: 25px;
      width: 360px;
      max-width: 420px;
      color: #515151;
      font-weight: 200;
      border-top: 1px solid #ececec;

      overflow-y: auto;
      z-index: 100000;
      background: white;
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.04),
        -6px 8px 15px rgba(0, 0, 0, 0.04), 6px 8px 15px rgba(0, 0, 0, 0.04);
      border: 3px solid rgba(217, 217, 217, 0.4);

      .notebook-list {
        display: flex;
        flex-direction: column;

        .notebook-title-container + .active {
          color: #2dbe60 !important;
        }

        .notebook-title-container {
          height: 50px;
          padding: 0px 16px;
          display: flex;

          &:hover {
            background: #2dbe60;
            color: white !important;
            cursor: pointer;
          }

          .notebook-title-wrapper {
            border-top: 1px solid #ececec;
            width: 100%;
            display: flex;
            padding: 0 10px;
            align-items: center;

            .notebook-title {
              overflow-x: hidden;
              text-overflow: ellipsis;
            }
          }
        }

        .create-new-notebook {
          color: #878787;
          font-weight: 600;
          &:hover {
            color: #2dbe60 !important;
            background: white !important;
          }
        }
      }
    }
  }

  .note-content-container {
    display: flex;
    justify-content: center;
    .note-content {
      width: 960px;
      min-width: 240px;
      max-width: 960px;
      .note-title {
        font-family: "Roboto Slab", serif;
        font-weight: 100;
        letter-spacing: 0.5px;
        font-size: 21px;
        background: white;
        width: 100%;
        position: relative;
        top: 95px;
        margin: 0px 15px;
        border: 0px solid white;
        color: #2dbe60;

        &::placeholder {
          color: #2dbe60;
        }
      }
      .quill {
        min-width: 240px;
        max-width: 960px;

        .ql-toolbar {
          border: 0px solid white;
          border-bottom: 2px solid #ececec;
          min-height: 45px;

          span.ql-formats:not(:first-child) {
            border-left: 1px solid #ececec;
          }

          span.ql-formats {
            > * {
              height: 21px !important;
            }
            > button {
              width: 21px !important;
            }
          }

          * {
            vertical-align: top;
          }

          button {
            &:hover {
            }
          }
        }

        .ql-container {
          border: 0px solid white;
          position: relative;
          top: 55px;

          .ql-editor {
            overflow-y: auto;
            max-height: calc(100vh - 210px);
          }
        }
      }
    }
  }
}
