.session-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f3f3;
  min-height: 100vh;
}

.session-form-container * {
  letter-spacing: 0.5px;
}

.session-form-container > * {
  width: 100%;
  text-align: center;
}

.form-header-container {
  width: 385px;
  padding-top: 70px;
  padding-bottom: 25px;
}

.form-header > .logo > a > img {
  height: 68px;
  width: auto;
  margin: auto;
}

.form-header > .logo {
  padding-bottom: 25px;
}

.form-header-title h1 {
  padding: 0px;
  color: #6a6a6a;
  font-family: Courier, Times, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 100;
  letter-spacing: -1.5px !important;
}

.session-form {
  display: flex;
  flex-direction: column;
  color: #7b7b7b;
  width: 325px;
  margin: 0 auto;
}

.session-form-wrap {
  width: 385px;
  padding: 23px 0 29px 0;
  margin: 0 auto;
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: white;
  border: 1px solid #dedede;
}

.session-form input,
.session-form button {
  margin: 7px 0;
  height: 40px;
  border-radius: 7px;
  border: 1px solid #dedede;
}

.session-form .submit {
  text-align: center;
  background-color: #2dbe60;
  border-radius: 7px;
  color: white;
  border-color: #1fae52;
  border-top-color: rgb(31, 174, 82);
  border-right-color: rgb(31, 174, 82);
  border-bottom-color: rgb(31, 174, 82);
  border-left-color: rgb(31, 174, 82);
  height: 45px;
  font-weight: 500;

  &:hover {
    background-color: #32a55a;
    cursor: pointer;
  }
}

.session-form .demo {
  font-weight: 700;
  height: 42px;
  color: #6a6a6a;
  letter-spacing: 1px;
  border: solid 1px #d0d0d0;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: row;

  &:hover {
    // background: #f1f1f1;
    border: 1px solid #2dbe60;
    cursor: pointer;
  }

  .demo-logo {
    height: 22px;
    width: auto;
    margin: 0 -25px 0 5px;
  }

  .demo-message {
    font-weight: 500;
    width: 100%;
    line-height: 22px;
    height: 22px;
  }
}

.horizontal-text {
  width: 100%;
  text-align: center;
  color: #ababab;
  font-size: 14px;
  font-weight: 100;
}

.session-form .remember-me {
  margin-top: 32px;
}

.session-form .remember-me * {
  display: inline;
  float: left;
  height: 100% !important;
  font-size: 15px;
  margin-right: 2px;
  font-weight: 100;
}

.switch-msg-1 {
  color: #747474;
  font-style: normal;
  font-size: 11px;
  font-weight: 300;
}

.switch-msg-2 a {
  font-size: 16px;
  font-style: normal;
  color: #2dbe60;
  text-decoration: none;
  font-weight: 400;
}

.switch-msg-2 a:hover {
  color: #32a55a;
}

.horizontal-line {
  height: 4px;
  background-color: #2dbe60;
  width: 100%;
}

.session-errors li {
  color: #ba241b;
}

.session-form input {
  padding-left: 12.5px;
  font-weight: 100;
  letter-spacing: 1px;
}

.register-terms {
  text-align: center;
  margin: 5px 0;
  color: #919191;
  font-weight: 400;
  font-size: 0.8rem;
}

.register-terms u:hover {
  cursor: pointer;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #9b9b9b;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #9b9b9b;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #9b9b9b;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #9b9b9b;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #9b9b9b;
}

.creds:focus {
  border-color: #7aa7cf;
  outline: none;
  -webkit-box-shadow: 0 0 0 1px #7aa7cf, 0 0 4px 0 #3d96e3;
  -moz-box-shadow: 0 0 0 1px #7aa7cf, 0 0 4px 0 #3d96e3;
  box-shadow: 0 0 0 1px #7aa7cf, 0 0 4px 0 #3d96e3;
}

.horizontal-text {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #dedede;
  line-height: 0.2em;
  margin: 10px 0 20px;
}
.horizontal-text span {
  background: white;
  padding: 0 10px;
}
