@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sliding-pane-wrap {
  height: 100vh !important;
  position: absolute;
  top: 0 !important;
  left: 0 !important;
}

.sliding-pane {
  height: 100vh !important;
  width: 460px;
  border: 3px solid #f2f2f2;
  position: absolute !important;
  top: 0px !important;
  left: 72px !important;
  background: white;
  z-index: 100;
}
.ReactModal__Overlay--after-open {
  z-index: 5000 !important;
  animation: fadein 0.7s;
  -moz-animation: fadein 0.7s; /* Firefox */
  -webkit-animation: fadein 0.7s; /* Safari and Chrome */
  -o-animation: fadein 0.7s; /* Opera */
}

.header-container {
  .title {
    float: left;
  }
  .create {
    float: right;
  }
}

.header-wrap {
  height: 122px;
  padding: 18px 0px 10px 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ececec;

  > * {
    display: flex;
    flex-direction: column;
  }

  .search {
    padding: 7px 9px;
    height: 35px;
    &::placeholder {
      font-weight: 100;
      text-align: center;
    }
  }

  .header-container {
    height: 52px;
  }

  .create {
    &:hover {
      cursor: pointer;
    }
  }
}

.margined > * {
  width: 410px;
  margin: 0 auto;
}

.nb-index-container,
.tag-index-container {
  overflow-y: auto;
}
