.tag-index-container {
  padding-left: 32px;

  .tag-item-container {
    height: 37px;
    > * {
      height: 25px;
    }
  }

  .by-letter-container {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    .first-letter {
      color: #878787;
      height: 27px;
    }

    .tag-names-by-letter-container {
      display: flex;
      flex-direction: column;

      .tag-item-container {
        display: flex;
        flex-direction: row;

        .tag-opts-wrap {
          display: flex;
          flex-direction: row;

          &:hover {
            cursor: pointer;

            .tag-item {
              background: #2dbe60;
              border: 1px solid #2dbe60;
              * {
                color: white !important;
              }
            }
          }

          // &:hover .mod-btn-container {
          //   display: flex !important;
          //   flex-direction: row;
          // }
        }

        .tag-item {
          display: flex;
          flex-direction: row;
          background: #f8f8f8;
          padding: 0 10px;
          border: 1px solid #d1d1d1;
          border-radius: 4px;
          margin-right: 15px;
          z-index: 1000;

          .tag-name {
            margin-right: 9px;
            color: #6b6b6b;
            max-width: 250px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .tag-count {
            color: #2dbe60;
            max-width: 50px;
          }
        }

        .mod-btn-container {
          display: flex; // migrated from &:hover .mod-btn-container
          flex-direction: row; // migrated from &:hover .mod-btn-container
          z-index: 1000;
          > * {
            color: #888888;
            margin-right: 12px;
            font-size: 18px;
            cursor: pointer;
            &:hover {
              color: #2dbe60;
            }
          }
        }
      }
    }
  }

  .editable {
    z-index: 2000;
    display: flex;
    flex-direction: row;

    .edit-form {
      color: #6b6b6b;
      border-radius: 4px;
      border: 1px solid #ababab;
      margin-right: 15px;

      width: 200px;
      transition: all 0.25s ease-out 0s;
      -webkit-transition: all 0.25s ease-out 0s;
    }

    .edit-form-expand {
      width: 370px !important;
    }

    .save-changes {
      color: #888888 !important;
      &:hover {
        color: #2dbe60 !important;
        cursor: pointer !important;
      }
    }
  }

  > .tag-item,
  .edit-form {
    display: flex;
    flex-direction: row;
    height: 25px;
    padding: 0px 9px;
  }
}

.hidden {
  display: none;
}
