.tag-note-index-header-container {
  height: 130px;
  padding: 0 22px;
  padding-top: 25px;

  border-bottom: 1px solid #ececec;

  .title-container {
    font-size: 21px;
    letter-spacing: 1.5px;
    height: 80px;
    color: #989898;
    font-weight: 100;
  }
}
