.tag-index-container {
  padding-left: 32px;
  padding-bottom: 3px; // increase if overscrolling-y unecessarily

  .by-letter-container {
    margin-top: 32px;
    height: 50px;
    .first-letter {
      color: #878787;
      height: 27px;
    }
  }
  .tag-item-container {
    display: flex;
    flex-direction: row;

    .editable {
      display: flex;
      flex-direction: row;
      .edit-form {
        color: #6b6b6b;
        width: 370px;
        border-radius: 4px;
        border: 1px solid #ababab;
        margin-right: 15px;
      }

      .save-changes {
        color: #888888 !important;
        &:hover {
          color: #2dbe60 !important;
          cursor: pointer !important;
        }
      }
    }

    > .tag-item,
    .edit-form {
      display: flex;
      flex-direction: row;
      height: 25px;
      padding: 0px 9px;
    }

    .tag-item {
      border: 1px solid #2dbe60;
      border-radius: 4px;
      &:hover {
        cursor: pointer;
        background: #2dbe60;

        ~ .mod-btn-container {
          display: flex !important;
          flex-direction: row;
        }

        ~ .hack {
          display: block;
          position: absolute;
          width: 200px;
          height: 25px;
          z-index: -100;
        }
      }

      &:hover * {
        color: white !important;
      }

      > * {
        font-weight: 100;
      }
      > .tag-name {
        color: #6b6b6b;
        margin-right: 5px;
      }
      > .tag-count {
        color: #2dbe60;
      }
    }

    .mod-btn-container {
      > * {
        margin-left: 15px;
        color: #888888;
        font-size: 18px;
        cursor: pointer;
        &:hover {
          color: #2dbe60;
        }
      }
    }
  }
}

.hack:hover ~ .mod-btn-container {
  display: flex !important;
  flex-direction: row;
}

.mod-btn-container:hover {
  display: flex !important;
  flex-direction: row;
}
