.trash {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABI0lEQVR42mNgGAWUgv////sD8fP/qADE96eWBeiGwy2hlgVgQEiMWMOO/qcMHKW1BYeJ9clsqIZkAurSoOpmkBpUPVCNRUBsAsSncKgrharrJNWCWqjGBiBWBeKbONS1QNVVkWpBHlRjPxCLA/ELqDgPmrrJUHXZpFoQD9U4D4g5gPgHELMD8Xc0dYug6qJJtSAAqnEtlP8TatF3kEVI6jZC1fmQaoEjVOMeKP8VLKhANJK6A1B1tqRaYATVeBrKvw3EaqDIBtFI6s5B1emRaoEyVOMtKP8MEJsC8UkQjaTuLlSdPKkWiEA1voTy9wGxMxDvBtFI6t5A1QmQagErVON3Aup+A/E/IGYip+B7QmT584DcYtoHiJ8RMBwk7zVaLVMEANR3fwFdGyeqAAAAAElFTkSuQmCC") -0px -0px
    no-repeat no-repeat;
  width: 24px;
  height: 24px;

  &:hover {
    cursor: pointer;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA2klEQVR42mNgGAWUgv////sD8fP/qADE96eWBeiGwy2hlgVgQEiMWMOO/qcMHKW1BYcHTcrpJtHlHaRaUAPVeAqITYiwoJJUC3KhGm8CsSoRFmSRakEcUoYSA+J/QPwJjwXR5OReEPgGxGxA/B2I2fFY4E2qBY5ImtmgFrFDLcIGbEm1wAhJswhSUOEqNvRItUAZSTOIfQMa2TdwWCBPqgUiSJpBvjkJxKZQGhsQINUCFiTNDkC8G4idoTQ6AKUwJnJy8xMic/EDcosLHyB+RsBwkLzXaLVMEQAAFfYK7qVRxEcAAAAASUVORK5CYII=") -0px -0px
      no-repeat;
  }
}
