.note-index-container {
  display: flex;
  flex-direction: column;
  width: 350px;
  border-right: 0.5px solid #ececec;
}

.note-index-header-container {
  padding: 24px 20px 0 24px;
}

.note-index-header-container h1 {
  font-size: 21px;
  color: #878787;
  font-weight: 100;
  letter-spacing: 2px;
}

.note-index-items-container {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

.note-index-item-container {
  color: black;
}

.notes-count {
  padding-bottom: 10px;
  font-size: 15px;
  letter-spacing: 0.5px;
  color: #ababab;
  font-weight: 100;
}

.note-index-header-container {
  background-color: white;
  border-bottom: 3px solid #ececec;
}

.note-index-item-container {
  padding: 10px 20px 0 24px;
}

.note-index-item {
  height: 120px;
  overflow-y: hidden;
  border-bottom: 0.5px solid #ececec;
}

.note-index-item-container:hover {
  cursor: pointer;
  background: #2dbe60;
  color: white;
}
.note-index-item-container:hover .note-index-item {
  border: none;
}
.note-item-title-section {
  overflow-x: hidden;
  white-space: nowrap;
}

.note-item-lastupdated-section {
  font-size: 12px;
}

.note-item-body-section {
  font-size: 11px;
  margin-top: 3px;
}

.active.show-link > * {
  border: 2.5px solid #d9d9d9;
}

.show-link:hover {
  text-decoration: none;
}
