.note-show-container {
  overflow-y: scroll;
}
.note-opts-container {
  background: yellow;
}
.style-bar-container {
  background: red;
}
.note-title {
  background: green;
  color: #2dbe60;
}
.note-body {
  background: grey;
}
.style-bar-container,
.note-container {
  padding: 0px 45px;
}
